<nav id="app-header">
    <div class="container-fluid">
        <div class="d-flex flex-column p-3">
<!--            <h3 class="demo-title">-->
<!--                {{config.title}}-->
<!--            </h3>-->
            <div class="d-flex">
                <img src="assets/images/Mailgun_Secondary.png" width="150px"/>
                <h3 class="ml-2 pt-2">Extension</h3>
            </div>



            <div class="m-1">
                Powered By
                <a href="https://www.xano.com" target="_blank">
                    <img class="logo clickable"
                         src="https://app.xano.com/admin/assets/images/xano-logo-tagline.svg"
                         width="75px"
                    />
                </a>
            </div>
        </div>
    </div>
</nav>

