<section id="home">
    <div class="container">
        <h2 class="mt-4">Send Email Via Mailgun</h2>
        <form [formGroup]="form" autocomplete="off"
              class="d-flex flex-column justify-content-center align-items-center mt-4">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>To Email</mat-label>
                <input formControlName="to_email" matInput/>
                <mat-error *ngIf="form.controls.to_email.hasError('required')">To Email is required</mat-error>
            </mat-form-field>
            <mat-form-field *ngIf="templates" appearance="outline" class="w-100">
                <mat-label>Template</mat-label>
                <mat-select formControlName="template">
                    <mat-option [value]="'none'">None</mat-option>
                    <mat-option *ngFor="let template of templates" [value]="template.name">
                        {{template.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Subject</mat-label>
                <input formControlName="subject" matInput/>
            </mat-form-field>

            <div *ngIf="this.form.controls.template.value === 'none' else dataTable" class="w-100">

                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Email Body</mat-label>
                    <textarea formControlName="body" matInput rows="25"></textarea>
                </mat-form-field>
            </div>

            <ng-template #dataTable>
                <div class="w-100 d-flex">
                    <div><b>Data</b></div>
                    <div class="ml-auto">
                        <mat-icon (click)="addData()" class="cursor-pointer">add</mat-icon>
                    </div>
                </div>
                <table [dataSource]="data" class="w-100 mb-4" mat-table>
                    <ng-container matColumnDef="key">
                        <th *matHeaderCellDef mat-header-cell>Key</th>
                        <td *matCellDef="let row" mat-cell>
                            <mat-form-field appearance="outline">
                                <input (change)="row.key = $event.target['value']" [value]="row.key" autocomplete="off"
                                       matInput
                                       type="text">
                            </mat-form-field>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="value">
                        <th *matHeaderCellDef mat-header-cell>Value</th>
                        <td *matCellDef="let row" mat-cell>
                            <mat-form-field appearance="outline">
                                <input (change)="row.value = $event.target['value']" [value]="row.value" autocomplete="off"
                                       matInput
                                       type="text">
                            </mat-form-field>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="remove">
                        <th *matHeaderCellDef mat-header-cell>Remove</th>
                        <td *matCellDef="let row; let i = index" mat-cell>
                            <mat-icon (click)="removeData(i)" class="cursor-pointer">delete</mat-icon>
                        </td>
                    </ng-container>

                    <tr *matHeaderRowDef="['key', 'value', 'remove']"
                        mat-header-row></tr>
                    <tr *matRowDef="let row; columns: ['key', 'value', 'remove'];"
                        mat-row></tr>
                </table>
            </ng-template>

            <div class="w-100 d-flex">
                <button (click)="resetForm()" class mat-raised-button>
                    <mat-icon class="mr-1">refresh</mat-icon>
                    Reset
                </button>
                <button (click)="send()" class="ml-auto" color="primary" mat-flat-button>
                    <mat-icon class="mr-1">send</mat-icon>
                    Send
                </button>
            </div>

        </form>
    </div>
</section>
